# Root-level dependencies/cache
node_modules/
.vite/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env

# Backend
backend/node_modules/
backend/dist/

# OS/Editor
.DS_Store
.vscode/
.idea/
